
body {
  text-align: center;
    position: fixed;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    font-size: 20px;
    color: floralwhite;
    background-color: rgb(5, 65, 29);
    border: rgb(228, 233, 228) 5px solid;
    padding: 5px;
    z-index: 100;
}

input{
  border: none;
  padding: 0.3em;
}

.btn {
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1rem;
  border: none;
  margin: 1rem auto 0;
  background-color: rgb(87, 204, 87);
  color:rgb(18, 41, 27); ;
  font-weight: bold;
  cursor: pointer;
}

